/* css styles */
/* insertion de présentation html depuis gitlab */
.slide{
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 300px;
    height: inherit !important;
}
.metaslide{
  margin-top:30px;
  margin-left:-30px;
  font-size:10pt;

}
